<div class="p-5">
  <h1>common busiense feedback</h1>
  <p>july 2020, 15:24</p>
  <div class="d-flex">
    <img src="media/sh.jpg" class="w-25 h-25" alt="" />
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil excepturi
        asperiores ad fugit voluptatibus. Cumque iste repellat dolor suscipit
        explicabo reprehenderit earum doloribus fugit enim eveniet vero, a ullam
        asperiores.
      </p>
      <p>Post by: ali</p>
      <div class="d-flex">
        <p>1 like | </p>
        <p>3 comments</p>
      </div>
    </div>
  </div>
</div>
