{% extends '../templates/layout.html' %}
{% load static %}
{% block linkcss %}
    <link rel="stylesheet" href={% static 'css/authenticate/style.css' %} />
{% endblock linkcss %}
{% block main %}
<form action="" method="post" class="p-4">
    {% csrf_token %}
    {% for field in form %}
        <div class="register-form class-{{field.name}} m-5">
            {{ field.errors }}
            <p>{{ field.label_tag }}</p>
            {{ field }}
        </div>
    {% endfor %}
    <button type="submit">register</button>
</form>
{% endblock main %}